<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Peta</title>
    <!-- CDN CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../style.css" />
    <!-- CDN Javascript -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- Custom Javascript -->
    <script src="../script.js"></script>
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav>
      <div class="right-side">
        <input type="checkbox" name="check" id="check" />
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label for="" class="logo">
          <img src="../img/logo.png" alt="" srcset=""/>
        </label>
      </div>
      <ul class="nav-menu">
        <li><a href="../index.html">Beranda</a></li>
        <li><a href="ukbi.html">Apa itu UKBI?</a></li>
        <li><a href="#footer">Kontak</a></li>
      </ul>
    </nav>

    <div class="ukbi">
      <h1>Apa itu UKBI?</h1>
      <br />
      <hr />
      <br />
      <p>
        Menurut Badan Pengembangan dan Pembinaan Bahasa (2023) UKBI (Uji
        Kemahiran Berbahasa Indonesia) UKBI adalah sarana uji untuk mengukur
        kemahiran seseorang dalam berbahasa Indonesia lisan atau tulis. UKBI
        terdiri atas lima seksi, yaitu Seksi I (Mendengarkan), Seksi II
        (Merespons Kaidah), dan Seksi III (Membaca) dalam bentuk soal pilihan
        ganda serta Seksi IV (Menulis) dalam bentuk presentasi tulis dan Seksi V
        (Berbicara) dalam bentuk presentasi lisan.
      </p>
      <br />
      <p>
        Dalam laman UKBI (<a
          href="https://ukbi.kemdikbud.go.id/"
          target="_blank"
          >https://ukbi.kemdikbud.go.id/</a
        >), pengguna dapat melakukan tes kemahiran berbahasa Indonesia sekaligus
        dapat melihat hasil tes masing-masing provinsi di Indonesia yang
        tertampil dalam peta yang telah disediakan oleh UKBI, seperti berikut:
      </p>
      <br />
      <img src="../img/11.png" alt="" />
      <i
        >Sumber :
        <a href="https://laporandataukbi.kemdikbud.go.id/petakemahiran.php"
          >https://laporandataukbi.kemdikbud.go.id/petakemahiran.php</a
        ></i
      ><br /><br />
      <p>
        Tampilan peta tersebut masih sangat dasar dan belum memperhatikan
        prinsip utama peta. Kelemahan dari peta dalam UKBI tersebut belum
        mempunyai visual contract yang baik karena objek tidak ditonjolkan oleh
        pembuat peta sehingga kurang representatif. Selain itu, figure-ground
        organization belum nampak pada peta sehingga warna pada objek dan latar
        belakangnya sulit dibaca.
      </p>
      <br />
      <p>
        Oleh karena itu, dilakukanlah kegiatan pembuatan peta online interaktif
        kemahiran berbahasa Indonesia yang memperhatikan desain geovisualisasi
        yang tepat sesuai kaidah kartografi.
      </p>
    </div>

    <div id="footer" class="footer">
      <div class="left-side">
        <p>Copyright &copy; 2023. Teknik Geodesi Universitas Gadjah Mada.</p>
      </div>
      <div class="right-side">
        <a href="https://wa.me/+62895339999371" target="_blank"
          ><i class="fab fa-whatsapp"></i
        ></a>
        <a href="https://instagram.com/arifnurhadi_" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="https://linkedin.com/in/arifnurhadi" target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
      </div>
    </div>
  </body>
</html>
