<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Peta</title>
    <!-- CDN CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../style.css" />
    <!-- CDN Javascript -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- Custom Javascript -->
    <script src="../../script.js"></script>
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav>
      <div class="right-side">
        <input type="checkbox" name="check" id="check" />
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label for="" class="logo">
          <img src="../../img/logo.png" alt="" srcset=""/>
        </label>
      </div>
      <ul class="nav-menu">
        <li><a href="../../index.html">Beranda</a></li>
        <li><a href="../ukbi.html">Apa itu UKBI?</a></li>
        <li><a href="#footer">Kontak</a></li>
      </ul>
    </nav>

    <div class="map">
      <iframe
        width="100%"
        height="620px"
        src="https://thunbergii.app.carto.com/map/a3ee9243-cc23-42c1-a87e-3245081a87f9"
      ></iframe>
    </div>

    <div id="footer" class="footer">
      <div class="left-side">
        <p>Copyright &copy; 2023. Teknik Geodesi Universitas Gadjah Mada.</p>
      </div>
      <div class="right-side">
        <a href="https://wa.me/+62895339999371" target="_blank"
          ><i class="fab fa-whatsapp"></i
        ></a>
        <a href="https://instagram.com/arifnurhadi_" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="https://linkedin.com/in/arifnurhadi" target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
      </div>
    </div>
  </body>
</html>
